@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

.container {
    position: relative;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.art {
    float: left;
    margin: 1% 1%;
    height: 550px;
    width: 30%;
    position: relative;
}

.art::after {
    content: "";
    display: table;
    clear: both;
}



.img img {
    width: 100%;
}

.Marca, .Descr, .prezzo, .sostenibilita {
    font-family: 'Roboto', sans-serif;
}

.Marca {
    font-size: 13px;
} 

.Descr {
    text-transform: uppercase;
    font-size: 13px;
}

.prezzo {
    color: red;
}

.sottolineato {
    color: black;
    text-decoration: line-through;
}

.cuore {
    position: absolute;
    top: 30px;
    right: 0px; 
    background-color: white;
    padding: 5px 10px;
    font-size: 18px;
}

.sostenibilita, .sostenibilita1 {
    position: absolute;
    bottom: 75px;
    background-color: #00875a;
    padding: 2px 3px;
    font-size: 10px;
    color: white;
}

.sostenibilita {
    left: 30px;
}

.sostenibilita1 {
    left: 0px;
}

.sconti {
    position: absolute;
    bottom: 75px;
    background-color: #ea0137;
    padding: 3px 3px;
    font-size: 10px;
    color: white;
}

